<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Update Post</title>
    <script type="text/javascript" src="../Content/js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="../Content/scripts/Post/Modify.js"></script>
</head>
<body>
    <p id="msg"></p>
    <hr><br />

    <div id="divModifyPost">
        <input type="text" id="postTitle" value="" /><br />
        <textarea id="postContent" rows="10" cols="100"></textarea><br>

        <hr>
        <button id="postModify">Modify</button><br>
    </div>

</body>
</html>