<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Update Comment</title>
    <script type="text/javascript" src="../../Content/js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="../../Content/scripts/Post/Comment/Modify.js"></script>
</head>
<body>
    <p id="msg"></p>
    <hr><br />

    <div id="divModifyComment">
        <h2 id="commentUsername" value="" /></h2><br />
        <textarea id="commentText" rows="10" cols="100"></textarea><br>

        <hr>
        <button id="commentModify">Modify</button><br>
    </div>

</body>
</html>